body {
	margin: 0 auto;
	width: device-width;
	text-align: center;
}
#wrapper {
	font-family: Helvetica, Arial, sans-serif;
}
#header {
	color: #333333;
	font-size: 36px;
}
#footer {
	color: #AAAAAA;
	font-size: 12px;
}
#footer a {
    color: #AAAAAA;
}
canvas {
	display: inline-block;
	position: relative;
	z-index: 1;
}